<?xml version="1.0" encoding="UTF-8"?>

<launch>

<!-- Arguments for launch file with defaults provided -->
<arg name="database_path"     default="$(find wheelchair_vision)/database/rtabmap.db"/>
<arg name="rgb_topic"   default="/camera/color/image_raw"/>
<arg name="depth_topic" default="/camera/aligned_depth_to_color/image_raw"/>
<arg name="camera_info_topic" default="/camera/color/camera_info"/>  
<!-- <arg name="rtabmap_args" value="-/-delete_db_on_start"/> -->

<!-- param for localization -->
<arg name="localization" default="false"/>

<!-- param for visualization -->
<arg name="show_rviz" default="true"/>
<arg name="show_rtabmapviz" default="false"/>

<arg name="wait_for_transform"  default="0.2"/>

<!-- launch rtabmap -->
<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <!-- <arg name="rtabmap_args" value="$(arg rtabmap_args)"/> -->
    <arg name="database_path" value="$(find wheelchair_vision)/database/rtabmap.db"/>
    
    <!-- enable for localization mode -->
    <arg name="localization" value="$(arg localization)"/>    

    <!-- RTAB-Map Inputs -->
    <arg name="depth_topic" value="$(arg depth_topic)"/>
    <arg name="rgb_topic" value="$(arg rgb_topic)"/>
    <arg name="camera_info_topic" value="$(arg camera_info_topic)"/>

    <arg name="approx_sync" value="true"/>
    <arg name="frame_id" value="base_footprint"/>
    <!-- Odometry topic used if visual_odometry is false -->
    <!-- <arg name="odom_topic"              default=""/>          -->
    <arg name="odom_frame_id"           default="odom"/>              <!-- If set, TF is used to get odometry instead of the topic -->
    <arg name="map_frame_id"            default="/odom"/>

    <arg name="rtabmapviz"              default="$(arg show_rtabmapviz)" /> 
    <!-- <arg name="rviz"                    default="$(arg show_rviz)" /> -->

    <!-- enable visual odom instead of usual odom -->
    <!-- <arg name="visual_odometry"  default="true"/>           -->

    <!-- RTAB-Map Output -->
    <remap from="grid_map" to="/map"/>
    <remap from="odom" to="/odom"/>

    <!-- Rate (Hz) at which new nodes are added to map -->
    <param name="Rtabmap/DetectionRate" type="string" value="5"/>

    <!-- increase GFTT distance so that you have more distributed features in the images -->
    <param name="GFTT/MinDistance" type="string" value="10"/> 

    <!-- reduce point cloud noise -->
    <!-- <param name="cloud_noise_filtering_radius" value="0.1"/> -->
    <!-- <param name="cloud_noise_filtering_min_neighbors" value="5"/> -->

    <!-- 2D SLAM -->
    <param name="Reg/Force3DoF" type="string" value="true"/>

    <!-- Loop Closure Detection -->
    <!-- 0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB 9=KAZE -->
    <param name="Kp/DetectorStrategy" type="string" value="5"/>

    <!-- Maximum visual words per image (bag-of-words) -->
    <param name="Kp/MaxFeatures" type="string" value="200"/>

    <!-- Used to extract more or less SURF features -->
    <param name="SURF/HessianThreshold" type="string" value="50"/>

    <!-- Loop Closure Constraint -->
    <!-- 0=Visual, 1=ICP (1 requires scan)-->
    <param name="Reg/Strategy" type="string" value="0"/>

    <!-- Minimum visual inliers to accept loop closure -->
    <param name="Vis/MinInliers" type="string" value="15"/>

    <!-- Set to false to avoid saving data when robot is not moving -->
    <param name="Mem/NotLinkedNodesKept" type="string" value="false"/>
    
    <!-- Put the robot into localization mode -->
    <!-- These two params diffenrtiates mapping and localization mode -->
    <!-- <param name="Mem/IncrementalMemory" type="string" value="false"/>
    <param name="Mem/InitWMWithAllNodes" type="string" value="true"/> -->
</include>

<group if="$(arg show_rviz)">
    <!-- config saved -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find wheelchair_vision)/config/rtabmap_viz_config.rviz"/>
</group>

</launch>